{"filter":false,"title":".gitignore","tooltip":"/kaigonowa/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":40,"column":0},"end":{"row":40,"column":5},"action":"insert","lines":["/.env"],"id":2}]]},"ace":{"folds":[],"scrolltop":422,"scrollleft":0,"selection":{"start":{"row":40,"column":5},"end":{"row":40,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":59,"mode":"ace/mode/ini"}},"timestamp":1679205963848,"hash":"2e1dd9caed5b0dc14cfc461136d8eeebea766e71"}